*body{
   margin: 0;
   padding: 0;
   
}

body{
    background: rgb(241, 236, 236);
    font-family: "verdana, Arial, sans-serif";
    max-width: 900px;
    text-align: center;
    margin: auto;
}

#title, .subtitle, .post_title{
    color: rgb(6, 6, 14);
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: rgb(9, 9, 10);
}

a:hover{
    text-decoration: underline;
    color: rgb(139, 0, 0);
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
}

.cabecalho{
    border-radius: 50%;
}

.post{
    background: #fff;
    padding: 10px;
    border: 5px solid #0000;
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content{
    margin-bottom: 15px;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: 90%;
}

article > header > img {
    padding: 10px;
    max-width: 100%;
    margin-right: 20px;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}